#root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding: 0px;
}

.logo {
  width: 400px;
  height: 2;
  border-radius: 1rem;
  box-shadow:
    0 0 #0000,
    0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;  
}

.stack-container {
  position: relative;
  width: 100vw;   
  height: 100vh;  
  margin: 0;     
  padding: 0;     
  overflow: hidden;
}

.widget1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.widget2 {
  
  z-index: 1;
}